@inherits LayoutComponentBase

<PageTitle>TechTalk Intro Azure Container Apps</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="env">env</NavLink>
            <NavLink href="appsettings">settings</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
